# Django Settings
SECRET_KEY=your-secure-secret-key-here
DEBUG=False
ALLOWED_HOSTS=your-app-name.onrender.com

# Neon Database
DATABASE_URL=postgresql://neondb_owner:npg_Z4gQiBJo3OME@ep-calm-river-a1pdn0qg-pooler.ap-southeast-1.aws.neon.tech/Job_database?sslmode=require&channel_binding=require
